/* body {
  background: no-repeat url("../../img/videogame.png"); 
   background-position: 50% -40%;
} */
.background{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  background-color: #6d6d6d;
  height: calc(100vh - 105px); 
}

#root{
  background-color: #6d6d6d;
}